*{
  background-color: lightcyan;
  padding:0;
  margin:0;
  }
  .title{
  text-align:center;
  color:blueviolet;
  padding-top:2px 3px;
  }
  h1{
    background-color: #36586c;
  }
  #para{
    border :2px solid yellowgreen;
    width:50%;
    margin:0 auto;
  }
  .contain{
  
  padding-top:20px;
  width:30%;
  margin:0 auto;
  }
  input:hover,select:hover,#addr:hover{
    background-color:lightsalmon;
  }
  input[type="button"],input[type="reset"]{
  text-align:center;
  }
  input[type="button"]{
  background-color:green;
  padding:5px 10px;
  border:1px solid black;
  color:black;
  margin:10px 0;
  border-radius:5px;
  cursor: pointer;
  width:50%;
  }
  
  input[type="reset"]{
    float:left;
    background-color :rgb(0, 124, 128);
    padding:5px 10px;
    border:1px solid black;
    color:black;
    margin:10px 0;
    border-radius:5px;
    cursor: pointer;
    width:50%;
    }
    #radio,.detail{
      padding-top:20px;
  width:30%;
  margin:0 auto;
    }
   